---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -misc-use-anonymous-namespace,
        -misc-use-internal-linkage,
        -readability-function-cognitive-complexity,
        -concurrency-mt-unsafe,
        -readability-identifier-length,
        -misc-include-cleaner,
        -cppcoreguidelines-prefer-member-initializer,
        -readability-implicit-bool-conversion,
        -hicpp-braces-around-statements,readability-braces-around-statements,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -bugprone-easily-swappable-parameters,
        -performance-avoid-endl,
        -readability-braces-around-statements,
        -misc-unused-parameters,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -misc-const-correctness,
        -portability-avoid-pragma-once,
        -cppcoreguidelines-special-member-functions,
        -hicpp-special-member-functions,
        -cppcoreguidelines-pro-type-member-init,
        -hicpp-member-init,
        -cert-err33-c,
        -clang-diagnostic-error,
        -cppcoreguidelines-pro-type-vararg,
        -hicpp-vararg
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
